$theme-color: #0000EC;
$btn-color: #00F3BB;
$btn-gradient-hover: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
$txt-link-hover-color: #00F3BB;
$navbar-btn-height: 28px;
$font-color: #060A24;
$skew-cnt-gradient: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
$btn-font: 'IBMPlexMono', monospace;
$desktop: 1200px;