* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #ffffff;
  font-family: 'IBM Plex Mono', monospace;
  font-family: 'IBM Plex Sans', sans-serif;
  list-style: none;
  text-decoration: none;
  max-width: 100%;
}

header {
  width: 100%;
  position: fixed;
  height: 44px;
  top: 0;
  font-family: 'IBMPlexMono';
  padding: 0.625rem 0.625rem;
  z-index: 2;
}

@media screen and (min-width: 1200px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 80px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0 6.9%;
    margin: 0;
  }
}

header img {
  position: relative;
  size: 7.5% 0.4%;
  padding-left: 16px;
}

@media screen and (min-width: 1200px) {
  header img {
    position: relative;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

header nav {
  float: right;
}

@media screen and (min-width: 1200px) {
  header nav {
    float: none;
    position: relative;
    width: 100%;
    height: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
  }
}

header nav .menu span {
  top: 0.3rem;
}

@media screen and (min-width: 1200px) {
  header nav .menu span {
    visibility: hidden;
  }
}

header nav .menu ul {
  width: 100%;
  position: absolute;
  top: 2.81rem;
  right: 0;
  overflow: hidden;
  height: 0px;
  -webkit-transition: height 0.5 ease;
  transition: height 0.5 ease;
}

@media screen and (min-width: 1200px) {
  header nav .menu ul {
    top: 0;
    background: #ffffff;
    color: #060A24;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-line-pack: center;
        align-content: center;
    overflow: visible;
    gap: 48px;
  }
}

header nav .menu ul li {
  position: relative;
}

header nav .menu ul li a {
  position: relative;
  font-family: 'IBMPlexMono', monospace;
  font-size: 1rem;
  background: #0000EC;
  color: #ffffff;
  line-height: 28px;
  padding: 0 5% 1rem 5%;
  line-height: 1.75rem;
  z-index: 1;
  display: block;
}

header nav .menu ul li a:first-child {
  padding-top: 16px;
}

header nav .menu ul li a:hover {
  background: #00F3BB;
  color: #000000;
}

@media screen and (min-width: 1200px) {
  header nav .menu ul li a {
    font-size: 1rem;
    background: #ffffff;
    color: #060A24;
    letter-spacing: 0;
    line-height: 28px;
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0px;
  }
  header nav .menu ul li a:first-child {
    padding-top: 0;
  }
  header nav .menu ul li a:hover {
    background: #ffffff;
    color: #00F3BB;
    text-decoration: line-through;
  }
  header nav .menu ul li a:active {
    color: rgba(6, 10, 36, 0.56);
    text-decoration: line-through;
  }
}

/* animacion del menu */
header nav .menu input[type="checkbox"]:checked ~ ul {
  height: 15rem;
  -webkit-transition: height 0.5s ease-in-out;
  transition: height 0.5s ease-in-out;
}

@media screen and (min-width: 1200px) {
  header nav .menu input[type="checkbox"]:checked ~ ul {
    height: 0;
  }
}

/* checkbox transparente y en primer plano */
header nav .menu input {
  display: block;
  width: 1.5rem;
  height: 2rem;
  opacity: 0;
  z-index: 2;
  position: absolute;
}

/* span lineas menu */
header nav .menu span {
  display: block;
  width: 1.125rem;
  height: 0.125rem;
  margin-bottom: 0.2rem;
  margin-right: 19px;
  position: relative;
  background: #000;
  z-index: 1;
  -webkit-transform-origin: 3px 0px;
          transform-origin: 3px 0px;
  -webkit-transition: opacity 0.55s ease, -webkit-transform 0.5s ease;
  transition: opacity 0.55s ease, -webkit-transform 0.5s ease;
  transition: transform 0.5s ease, opacity 0.55s ease;
  transition: transform 0.5s ease, opacity 0.55s ease, -webkit-transform 0.5s ease;
}

header nav .menu span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

header nav .menu span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

/* movimiento a cruz */
header nav .menu input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(-44deg);
          transform: rotate(-44deg);
}

header nav .menu input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

header nav .menu input:checked ~ span:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 4rem;
}

@media screen and (min-width: 1200px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

main .sct-intro {
  margin-top: 73px;
  margin-bottom: 24px;
  padding: 0px 16px;
}

@media screen and (min-width: 1200px) {
  main .sct-intro {
    padding: 0px 200px;
    margin-top: 7.5rem;
    margin-bottom: 0;
  }
}

main h1 {
  position: relative;
  font-size: 2.25rem;
  font-weight: 600;
  color: #060A24;
  text-align: left;
  letter-spacing: 0;
  line-height: 42px;
}

main h1 .crossed-txt {
  -webkit-text-decoration: line-through solid black;
          text-decoration: line-through solid black;
}

@media screen and (min-width: 1200px) {
  main h1 {
    display: inline-block;
    font-size: 3rem;
    padding-bottom: 1rem;
  }
  main h1 .dot {
    font-size: 64px;
    color: #0000EC;
  }
}

main p {
  font-family: 'IBMPlexMono', monospace;
  font-size: 0.875rem;
  color: #060A24;
  letter-spacing: 0;
  line-height: 1.375rem;
  padding-bottom: 2.25rem;
}

main p .txt-extra {
  display: none;
}

@media screen and (min-width: 1200px) {
  main p {
    position: relative;
    padding-bottom: 56px;
    font-size: 1rem;
    line-height: 24px;
    width: 628px;
    height: 48px;
  }
  main p .txt-extra {
    display: unset;
  }
}

main .btn-cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'IBMPlexMono-Medium', monospace;
  font-weight: 500;
  font-size: 1rem;
  background: #00F3BB;
  width: 288px;
  height: 48px;
  margin-bottom: 24px;
  letter-spacing: 0;
  text-align: center;
  line-height: 24px;
  border: none;
}

main .btn-cta:hover {
  background: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
  border: 0px solid black;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  main .btn-cta {
    height: 56px;
    width: 226px;
    margin-bottom: 5px;
  }
}

main .sct-episodios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 48px;
  overflow: hidden;
  padding: 0px 16px;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  main .sct-episodios {
    padding: 150px 100px 0px 100px;
  }
}

main .sct-episodios .header_bg {
  position: absolute;
  width: 100%;
  height: 1203.5px;
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  -webkit-transform: skewY(-6deg);
          transform: skewY(-6deg);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

@media screen and (min-width: 1200px) {
  main .sct-episodios .header_bg {
    height: 65.1rem;
  }
}

main .sct-episodios .iframes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -ms-flex-negative: inherit;
      flex-shrink: inherit;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  main .sct-episodios .iframes {
    width: 100%;
    height: 100%;
    display: -ms-grid;
    display: grid;
    grid-column-gap: 72px;
    grid-row-gap: 72px;
    padding: 0px;
        grid-template-areas: "iframe1 iframe2" "iframe3 iframe4";
  }
  main .sct-episodios .iframes .iframe1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: iframe1;
  }
  main .sct-episodios .iframes .iframe2 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: iframe2;
  }
  main .sct-episodios .iframes .iframe3 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: iframe3;
  }
  main .sct-episodios .iframes .iframe4 {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: iframe4;
  }
}

main .sct-episodios .iframes iframe {
  background: none;
  border: none;
  overflow: hidden;
  margin-bottom: 11px;
  z-index: 1;
}

main .sct-episodios h1 {
  margin-bottom: 1.3rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-left: 1rem;
  padding-top: 30px;
  padding-bottom: 42px;
  color: #ffffff;
  font-size: 2.25rem;
  font-weight: 400;
  background: none;
  width: 9.81rem;
  height: 2.625rem;
  z-index: 1;
}

@media screen and (min-width: 1200px) {
  main .sct-episodios h1 {
    margin-bottom: 26px;
    margin-top: 150px;
  }
}

main .phone_img {
  margin: 0 auto;
  background: none;
  width: 360px;
  height: 519px;
  position: relative;
  padding-bottom: 0;
  margin-top: 48px;
}

@media screen and (min-width: 1200px) {
  main .phone_img {
    margin: 64px 782.4px 64px 200px;
    width: 457.6px;
    height: 660px;
  }
}

main .sct-dedonde {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0;
  padding: 0px 16px;
}

@media screen and (min-width: 1200px) {
  main .sct-dedonde {
    position: absolute;
    top: 1512px;
    left: 720px;
  }
}

main .sct-dedonde h1 {
  position: relative;
  font-size: 2.25rem;
  bottom: 0.5rem;
  padding-top: 27px;
  color: #060A24;
}

@media screen and (min-width: 1200px) {
  main .sct-dedonde h1 {
    font-size: 3rem;
    text-align: left;
    margin-right: 14.5rem;
    margin-bottom: 24px;
  }
}

main .sct-dedonde p {
  font-family: 'IBMPlexMono', monospace;
  font-size: 0.875rem;
  color: #060A24;
  letter-spacing: 0;
  line-height: 22px;
  padding-bottom: 54px;
}

@media screen and (min-width: 1200px) {
  main .sct-dedonde p {
    font-size: 1rem;
    width: 464px;
    height: 204px;
    margin-right: auto;
    margin-bottom: 245px;
  }
}

main .sct-invitados {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0.87rem 0;
  padding: 0;
}

@media screen and (min-width: 1200px) {
  main .sct-invitados {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 2;
        grid-template-rows: 2;
    -ms-grid-columns: 1;
        grid-template-columns: 1;
  }
  main .sct-invitados .img-container {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "img1 img2 img3" "img4 img5 img6";
  }
  main .sct-invitados .img-container .img1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: img1;
  }
  main .sct-invitados .img-container .img2 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: img2;
  }
  main .sct-invitados .img-container .img3 {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: img3;
  }
  main .sct-invitados .img-container .img4 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: img4;
  }
  main .sct-invitados .img-container .img5 {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: img5;
  }
  main .sct-invitados .img-container .img6 {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: img6;
  }
}

main .sct-invitados h1 {
  font-size: 2.25rem;
  margin-bottom: 14px;
  padding-left: 16px;
  color: #060A24;
}

@media screen and (min-width: 1200px) {
  main .sct-invitados h1 {
    margin-bottom: 36px;
    margin-left: 200px;
    font-size: 3rem;
    letter-spacing: 0;
    padding: 0px;
  }
}

main .sct-invitados .img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1200px) {
  main .sct-invitados .img-container {
    display: -ms-grid;
    display: grid;
  }
}

main .sct-invitados img {
  width: 320px;
  height: 243px;
  margin-bottom: -6px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (min-width: 1200px) {
  main .sct-invitados img {
    width: 480px;
    height: 364px;
  }
}

main .sct-temas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .sct-temas h1 {
  position: relative;
  width: 268px;
  height: 5.25rem;
  font-size: 2.25rem;
  color: #060A24;
  letter-spacing: 0;
  line-height: 42px;
  margin-top: 48px;
  margin-bottom: 37px;
  padding-left: 16px;
}

@media screen and (min-width: 1200px) {
  main .sct-temas h1 {
    font-size: 3rem;
    width: 586px;
    height: 62px;
    padding: 0;
    left: 200px;
    margin-bottom: 69px;
  }
}

@media screen and (min-width: 1200px) {
  main .sct-temas .temas-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

main .sct-temas .temas-container .img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .sct-temas .temas-container .img-container img {
  background: none;
  position: relative;
  height: 6.5rem;
  width: 6.5rem;
  margin: 0 auto;
}

main .sct-temas .temas-container .img-container #seguridad_informatica {
  margin-bottom: 42px;
}

main .sct-temas .temas-container .img-container h2 {
  position: relative;
  width: 18rem;
  height: 2rem;
  font-size: 1.5rem;
  color: #060A24;
  letter-spacing: 0;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 13px;
  margin-bottom: 52px;
  padding: 0;
}

main .sct-temas .temas-container .img-container #repensando_prog {
  padding-bottom: 63px;
}

main .sct-novedades {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 1.5rem;
  overflow: hidden;
  width: 100%;
}

main .sct-novedades .novedades_bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1200px) {
  main .sct-novedades .novedades_bg {
    height: 518px;
    -webkit-clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);
  }
}

main .sct-novedades h1 {
  padding-top: 64px;
  padding-bottom: 36px;
  font-family: 'IBMPlexSans', sans-serif;
  font-size: 2.25rem;
  font-weight: 100;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  line-height: 2.265rem;
  z-index: 1;
  background: none;
}

@media screen and (min-width: 1200px) {
  main .sct-novedades h1 {
    font-size: 3rem;
    margin-top: 213px;
    padding-top: 0px;
  }
}

main .sct-novedades .btn-cta {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: 'IBMPlexMono-Medium', monospace;
  font-weight: 500;
  font-size: 1rem;
  background: #00F3BB;
  width: 288px;
  height: 48px;
  padding: 13px 43px;
  margin-bottom: 67px;
  letter-spacing: 0;
  text-align: center;
  line-height: 24px;
  border: none;
}

@media screen and (min-width: 1200px) {
  main .sct-novedades .btn-cta {
    font-size: 1.125rem;
    margin-bottom: 151px;
    width: 345px;
    height: 56px;
  }
}

main .sct-novedades .btn-cta:hover {
  background: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
  border: 0px solid black;
  color: #ffffff;
}

footer {
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 1200px) {
  footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

footer p {
  display: block;
  text-align: center;
  margin: 24px auto 0px auto;
  font-size: 1rem;
  letter-spacing: 0.04rem;
  line-height: 22px;
  color: #060A24;
  width: 227px;
}

@media screen and (min-width: 1200px) {
  footer p {
    line-height: 28px;
    margin: 36px 0px 31px 100px;
  }
}

footer .links-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 45px 31px 45px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 1200px) {
  footer .links-container {
    margin: 36px 100px 31px 0px;
    gap: 36px;
    padding: 0;
  }
}

footer .links-container i {
  font-size: 1rem;
  color: #060A24;
  line-height: 28px;
}

@media screen and (min-width: 1200px) {
  footer .links-container i {
    font-size: 1.125rem;
    line-height: 28px;
  }
}
/*# sourceMappingURL=styles.css.map */